.setLsit ul {
    background: #fff;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0.2rem;
}
.setLsit ul li {
    height: 1.03rem;
    line-height: 1.03rem;
    border-bottom: 1px solid #E5E5E5;
    margin-left: 0.3rem;
    position: relative;
}
.setLsit ul li a {
    display: block;
}
.setLsit ul li span {
    font-size: 0.28rem;
    color: #666666;
}
.setLsit ul li i {
    width: 0.14rem;
    height: 0.26rem;
    display: block;
    position: absolute;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.13rem;
    background: url(../../images/icon_next.png) no-repeat center center;
    background-size: 100% 100%;
}
.setLsit ul li em {
    font-size: 0.28rem;
    color: #BBBBBB;
    float: right;
    margin-right: 0.3rem;
}
.nctouch-default-list.set li {
    padding: 0;
    width: 6rem;
    height: 0.9rem;
    background: #D33D3C;
    border-radius: 0.12rem;
    text-align: center;
    font-size: 0.32rem;
    margin: 0.8rem auto 0;
}
.nctouch-default-list li a {
    display: block;
    overflow: hidden;
    font-size: 0.65rem;
    color: #000;
}
.nctouch-default-list.set li h4 {
    color: #fff;
    float: none;
    font-size: 0.32rem;
    margin: 0;
    line-height: 0.9rem;
}