.Nlogin .nctouch-main-layout.Nfor {
    margin-top: 1.5rem;
}

.register_wrap .nctouch-main-layout {
    margin-top: 0.88rem;
}
.Nlogin .nctouch-main-layout {
    margin-top: 0.8rem;
}

.register_wrap .nctouch-inp-con {
    position: relative;
}

.Nlogin .nctouch-inp-con {
    padding: 0 40px;
}
.nctouch-inp-con {
    display: block;
    clear: both;
    padding: 0;
}
/* .Nlogin.register_wrap .nctouch-inp-con ul li {
    height: auto;
} */

.Nlogin .nctouch-inp-con ul li {
    margin-left: 0;
    height: .92rem;
    line-height: 0.4rem;
    min-height: 0.4rem;
    padding: 0.18rem 0;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 0.15rem;
}
.Nlogin .form-item {
    position: relative;
}
.nctouch-inp-con ul li {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 0.3rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.nctouch-inp-con.new-nctouch ul li .input-box {
    margin: 0;
    height: auto;
}
.nctouch-inp-con ul li .input-box {
    display: block;
    height: 1.95rem;
    margin: 0 0 0 3.7rem;
    position: relative;
    z-index: 1;
}
.register_wrap.Nlogin .nctouch-inp-con ul li .input-box .inp {
    text-indent: 0;
    padding-left: 0;
}

.register_wrap.Nlogin .nctouch-inp-con ul li .input-box .inp {
    text-indent: 0;
    padding-left: 0;
}

.Nlogin .nctouch-inp-con ul li .input-box .inp {
    height: 0.4rem;
    line-height: 0.4rem;
    padding: 0;
    font-size: 0.28rem;
    min-height: 0.4rem;
    text-indent: 0;
    padding-left: 0.5rem;
}
.nctouch-inp-con ul li .input-box .inp {
    width: 100%;
    min-height: 0.95rem;
    padding: 0.5rem 0;
    border: 0 none;
    font-size: 0.6rem;
    line-height: 0.95rem;
    color: #000;
    text-indent: 0.4rem;
    background-color: #f5f5f5;
    background: rgba(0,0,0,0);
}
.form-item .inp {
    display: inline-block;
    width: 97%;
    margin: 0;
    margin: 0;
    height: 1.03rem;
    line-height: 0.48rem;
    padding: 0;
    border: 0 none;
    color: #bbb;
    font-size: 0.28rem;
}
.form-item .input-box .code-img {
    position: absolute;
    right: 0rem;
    top: -14px;
    z-index: 1;
    width: 1.8rem;
    height: 0.93rem;
    line-height: 0.93rem;
    background: #f5f5f5;
    text-align: center;
    letter-spacing:2px;
}
.nctouch-inp-con .form-btn {
    text-align: center;
}

.nctouch-inp-con .form-btn {
    margin-top: 0.5rem;
}
.register_wrap .nctouch-inp-con .form-btn .btn {
    width: 100%;
    margin: 0;
    height: 0.9rem;
    line-height: 0.95rem;
    font-size: 0.32rem;
    color: #fff!important;
    background-color: #D33D3C;
    opacity: 0.4;
    border-radius: 0.12rem;
}
.Nlogin #register_item .remember-form {
    margin-top: 0;
}

.Nlogin .remember-form {
    margin: 0.3rem 0 0.72rem 0;
    height: 0.26rem;
    line-height: 0.26rem;
    font-size: 0.26rem;
}
.remember-form {
    height: 0.9rem;
    margin: 0.6rem 0rem 0 2rem;
    position: relative;
}
.remember-form .reg-cms:visited {
    color: #408BE2;
}
.remember-form .reg-cms:visited {
    color: #f9493c;
}
.remember-form .reg-cms {
    line-height: 0.8rem;
    font-size: 0.22rem;
    vertical-align: middle;
    display: inline-block;
    height: 0.9rem;
    color: #408BE2;
}