header{
    display: block;
}
header, .header {
    height: 0.88rem;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    background: #d33d3c;
}
.header-wrap {
    display: block;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}
.header-l {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

a:active {
    color: #0062cc;
}

a:active, a:hover {
    outline: 0;
}
.header-l a {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 0.44rem;
    height: 0.44rem;
    left: .18rem;
    top: .22rem;
    /* padding: 0.22rem 0 0.22rem 0.18rem; */
}
a {
    text-decoration: none;
    color: #007aff;
}
a {
    background: 0 0;
}
.header-l a i.back {
    width: 100%;
    height: 100%;
    background-image: url(./images/arrow@2x.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-l a i {
    display: block;
    width: 100%;
    height: 100%;
}
.header-title {
    display: inline-block;
    margin: 0 auto;
}
.header-title h1 {
    font-size: 0.34rem;
    height: 0.88rem;
    line-height: 0.88rem;
    color: #fff;
    margin: 0;
    font-family: "Microsoft YaHei",Helvetica,sans-serif,Arial;
}
.personal_body {
    margin-top: 0.98rem;
}
.scroller-body {
    bottom: 3rem;
}

.scroller-body {
    top: 0;
    bottom: 2rem;
    right: 0;
    left: 0;
    position: absolute;
    z-index: auto;
}
.scroller-box {
    padding-bottom: 1.1rem;
}
.member-center dl {
    background-color: #FFF;
    box-shadow: 0 1px 0 0 rgba(216,216,216,0.50);
}

.mtm {
    margin-top: 0.18rem;
}
.mtm dt {
    position: relative;
}
.member-center dt {
    display: block;
    padding: 0 0.4rem 0 0;
    margin-left: 0.4rem;
    margin: 0 0.2rem;
}
.member-center dt a {
    display: block;
}
.member-center dt h3 {
    line-height: 1rem;
}
.member-center dt h3 {
    font-size: 0.28rem;
    color: #666;
    vertical-align: top;
    display: inline-block;
}
.file_head {
    font-size: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 68%;
}

input, select, textarea {
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    font-size: 17px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
.member-center dt h5 {
    font-size: 0.24rem;
    color: #999;
    float: right;
    line-height: 1rem;
}

.mtm h5 {
    font-size: 0.24rem;
    color: #999;
    line-height: 1rem;
    position: absolute;
    right: 0.3rem;
    top: 0;
}
.person_pho_b {
    position: absolute;
    top: 0.15rem;
    right: 0.25rem;
    line-height: 0;
}
.member-center dt a {
    display: block;
}
.person_pho_box {
    width: 0.67rem;
    height: 0.67rem;
    display: table-cell !important;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 100%;
}
.personal-appen {
    border-radius: 100%;
    border: 1px solid #e5e5e5;
    vertical-align: baseline;
}
.person_pho {
    width: 0.67rem;
    height: 0.67rem;
}
.member-center dt h5 {
    font-size: 0.24rem;
    color: #999;
    float: right;
    line-height: 1rem;
}
.mtm h5 {
    font-size: 0.24rem;
    color: #999;
    line-height: 1rem;
    position: absolute;
    right: 0.3rem;
    top: 0;
}
.person_count {
    font-size: 0.28rem;
    color: #BBB;
}
.member-center dt h5 i {
    display: inline-block;
    vertical-align: middle;
    width: 0.14rem;
    height: 0.257rem;
    background-image: url(./images/icon_next.png);
    background-repeat: no-repeat;
    
    background-size: 100% 100%;
    margin-left: 0.12rem;
    opacity: 1;
    margin-bottom: 0.06rem;
}
