img {
    vertical-align: top;
    border: none;
}
.scroller-body {
    bottom: 3rem;
}
.scroller-body {
    top: 0;
    bottom: 2rem;
    right: 0;
    left: 0;
    position: absolute;
    z-index: auto;
}
.scroller-box {
    padding-bottom: 1.1rem;
}

.member-info .user-avatar {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: 0.2rem;
    border: .04rem solid #D8D8D8;
    overflow: hidden;
}
.member-info .user-avatar a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
}
.member-info .user-avatar img {
    /* display: inline-block; */
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
}
.member-info .user-avatar a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
}
.member-info .vip-pic {
    position: absolute;
    width: 0.42rem;
    height: 0.42rem;
    left: 18%;
    top: 63%;
}
.member-info .user-name {
    color: #FFF;
    display: inline-block;
    /* text-align: center; */
    position: absolute;
    top: 0.5rem;
    left: 2.03rem;
}
.member-info .user-name span {
    font-weight: lighter;
    font-size: 0.32rem;
    z-index: 1;
}
.member-info .user-name sup {
    font-size: 0.28rem;
    color: #fff;
}
.member-info .user-name sup i {
    color: #ffcb85;
}
.member-top .qrcode_icon {
    position: absolute;
    width: 1.04rem;
    top: 0.55rem;
    right: 0.3rem;
}
.member-top .qrcode_icon span {
    display: block;
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    background: url(../../images/code_member.png) no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.member-top .qrcode_icon i {
    display: block;
    float: right;
    width: 0.22rem;
    height: 0.42rem;
    margin-top: 0.1rem;
    background: url(../../images/center_arrow.png) no-repeat center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.member-top .friends_circle {
    position: absolute;
    width: 100%;
    top: 1.69rem;
    line-height: 0.83rem;
    border-top: 1px solid #fff;
}
.member-top .friends_circle a {
    
    display: inline-block;
    width: 50%;
    padding-left: 0.38rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.3rem;
    color: #fff;
    display: block;
    float: left;
}
.member-top .friends_circle a.circle {
    border-right: 1px solid #fff;
}
.member-top .friends_circle a:last-child {
    border-left: 0;
    border-right: 0;
}
.member-top .friends_circle a i {
    display: inline-block;
    width: 0.42rem;
    height: 0.32rem;
    vertical-align: middle;
    margin-right: 0.2rem;
    background: url(../../images/circle.png) no-repeat center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.member-top .friends_circle a.friends i {
    width: 0.3rem;
    background-image: url(../../images/friends.png);
}
.member-top .friends_circle a i {
    display: inline-block;
    width: 0.42rem;
    height: 0.32rem;
    vertical-align: middle;
    margin-right: 0.2rem;
    background: url(../../images/circle.png) no-repeat center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.member-info .default-avatar {
    background-color: #fff;
    background-image: url(../../images/icon_tx.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60%;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 100%;
    position: absolute;
    top: 0.2rem;
    border: 2px solid #d8d8d8;
}
.member-info .to-login {
    font-size: 0.32rem;
    color: #FFF;
    position: absolute;
    top: 0.68rem;
    left: 2.03rem;
    letter-spacing: 0.02rem;
}

.member-center dl {
    background-color: #FFF;
    box-shadow: 0 1px 0 0 rgba(216,216,216,0.50);
}
.mtn {
    margin-bottom: 0.18rem;
}
dl.my-order {
    margin: 0 0.2rem;
    border-radius: 0.2rem;
    margin-bottom: 0.2rem;
    box-shadow: none;
}
.member-center dt {
    display: block;
    padding: 0 0.4rem 0 0;
    margin-left: 0.4rem;
    margin: 0 0.2rem;
}
.my-order dt {
    border-right: 0;
    margin-left: 0;
    padding-left: 0.15rem;
    padding-right: 0.2rem;
}
.member-center dt a {
    display: block;
}
.member-center dt h3 {
    font-size: 0.28rem;
    color: #666;
    vertical-align: top;
    display: inline-block;
}
.member-center dt h3.mem-tit {
    line-height: 1rem !important;
    font-size: 0.3rem;
    font-weight: bold;
    color: #333;
}
.member-center dt h5 {
    font-size: 0.24rem;
    color: #999;
    float: right;
    line-height: 1rem;
}
.member-center dt h5 i {
    display: inline-block;
    vertical-align: middle;
    width: 0.14rem;
    height: 0.257rem;
    background-image: url(../../images/icon_next.png);
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    background-size: 100% 100%;
    margin-left: 0.12rem;
    opacity: 1;
    margin-bottom: 0.06rem;
}
.return-tips dt, dd {
    font-size: 0.26rem;
    color: #999;
}
.member-center dd {
    display: block;
}
.member-center dd ul {
    font-size: 0;
}
.member-center dd ul li {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 0.25rem 0 0.2rem 0;
}
.member-center dd ul li a {
    display: block;
    position: relative;
}
.member-center dd ul li i {
    vertical-align: top;
    display: inline-block;
    margin: 0 auto 0.1rem auto;
    opacity: 0.9;
    width: 0.48rem;
    height: 0.42rem;
}
i.cc-01 {
    background-image: url(../../images/member/z15.png);
    background-size: cover;
}
i.cc-02 {
    background-image: url(../../images/member/z16.png);
    background-size: 100% 100%;
}
i.cc-03 {
    background-image: url(../../images/member/z17.png);
    background-size: cover;
}
i.cc-04 {
    background-image: url(../../images/member/z18.png);
    background-size: 100% 100%;
}
i.cc-05 {
    background-image: url(../../images/member/z19.png);
    background-size: 100% 100%;
}

.member-center dd ul li p {
    font-size: 0.24rem;
    color: #666;
}
.my-service {
    height: 1rem;
    line-height: 1rem;
    background-color: #ffffff;
    margin: 0 0.2rem;
    padding-left: 0.2rem;
    border-radius: 0.2rem 0.2rem 0 0;
    font-weight: bold;
    font-size: 0.3rem;
    color: #333;
    border-bottom: solid 1px #e5e5e5;
}
.member-center dl.type_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: none;
    margin-bottom: 0;
}
.member-center .type_list dt {
    margin: 0;
    padding: 0.3rem 0;
    width: 25%;
    float: left;
    box-sizing: border-box;
}
.member-center dt {
    display: block;
    padding: 0 0.4rem 0 0;
    margin-left: 0.4rem;
    margin: 0 0.2rem;
}
.member-center dl.type_list h3 {
    width: 100%;
    text-align: center;
}
.member-center .type_list dt h3 {
    line-height: 0.28rem;
}
.member-center dt h3 {
    font-size: 0.28rem;
    color: #666;
    vertical-align: top;
    display: inline-block;
}   
.member-center .type_list dt i {
    vertical-align: text-bottom;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0 0.18rem 0;
    background-repeat: no-repeat;
    background-position: 50% 95%;
    background-size: 100%;
    position: relative;
}
.member-center dt h3 i.mc-02 {
    background-image: url(../../images/member/z25.png);
}
.member-center dt h3 i.mc-04 {
    background-image: url(../../images/member/z20.png);
}
.member-center dt h3 i.mc-gift {
    background-image: url(../../images/member/z24.png);
}
.member-center dt h3 i.mc-03 {
    background-image: url(../../images/member/z22.png);
}
.member-center dt h3 i.mc-06 {
    background-image: url(../../images/member/z27.png);
}
.member-center dt h3 i.mc-07 {
    /* width: 0.5rem;
    height: 0.5rem; */
    background-image: url(../../images/member/z30.png);
}
.member-center dt h3 i.mc-08 {
    /* width: 0.5rem;
    height: 0.5rem; */
    background-image: url(../../images/member/z21.png);
}
.member-center dt h3 i.mc-01 {
    background-image: url(../../images/member/z28.png);
}
.member-center dt h3 i.mc-help {
    background-image: url(../../images/member/z23.png);
}
.member-center dt h3 i.mc-09 {
    background-image: url(../../images/member/z26.png);
}